
    .special{
        color: darkolivegreen;
    }
    
    .special2{
        background: black;
    }

    a{
       color: black;

   }

   section a{
       color: darkolivegreen;
   }

   .container{
       color:darkseagreen;
   }

   p{
       font-size: 16px!important;

   }

   p{
       font-size: 32px;
   }

nav li a{
    color: maroon;
}